<h1 class="'text-primary">Sign Up</h1>

<form action="/signup" method="POST">
  <div class="signup-names d-flex gap-3" style="margin-top: 32px;">
    <div class="mb-3">
        <label for="firstName" class="form-label">Name</label>
        <input class="form-control {{#if errors.firstName}}is-invalid{{/if}}" id="firstName" style="background-color:#FAFAFF; border-color:#6C6F77; border-radius:2px; width:225px" name="firstName" value:"{{user.firstName}}" placeholder="Name">
        {{errors.firstName}}
    </div>
    <div class="mb-3">
        <label for="lastName" class="form-label">Last Name</label>
        <input class="form-control {{#if errors.lastName}}is-invalid{{/if}}" id="lastName" style="background-color:#FAFAFF; border-color:#6C6F77; border-radius:2px; width:225px" name="lastName" value:"{{user.lastName}}" placeholder="Last Name">
        {{errors.lastName}}
    </div>  
  </div>
     <div class="mb-3">
        <label for="companyName" class="form-label">Company's Name</label>
        <input class="form-control {{#if errors.companyName}}is-invalid{{/if}}" id="companyName" style="background-color:#FAFAFF; border-color:#6C6F77; border-radius:2px; width:225px" name="companyName" value:"{{user.companyName}}" placeholder="Company Name">
        {{errors.companyName}}
    </div>  
  </div>
    <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input type="email" class="form-control {{#if errors.email}}is-invalid{{/if}}" id="email" style="background-color:#FAFAFF; border-color:#6C6F77; border-radius:2px" aria-describedby="emailHelp" value="{{user.email}}" name="email" placeholder="name@example.com">
    <div id="emailHelp" class="form-text"></div>
    {{errors.email}}
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control {{#if errors.password}}is-invalid{{/if}}" id="password" style="background-color:#FAFAFF; border-color:#6C6F77; border-radius:2px" value:"{{user.password}}" name="password">
    {{errors.password}}
  </div>
  <div class="mb-3">
    <label for="role" class="form-label">Role</label>
    <select class="form-select {{#if errors.role}}is-invalid{{/if}}" aria-label="Default select role" style="background-color:#FAFAFF; border-color:#6C6F77; border-radius:2px" name="role">
        <option selected>select a role</option>
        <option value="hunter">Hunter</option>
        <option value="artist">Artist</option>
    </select>
    {{errors.role}}
  </div>
  <div style="margin-top:32px">
    <button type="submit" class="btn btn-primary">Create account</button>
  </div>
  
</form>