<div
  class="card"
  style="width:500px; margin-top:30px; padding-right:16px; padding-left:24px; padding-bottom:0px; padding-top:16px; background-color:white; border:none; border-radius:6px; box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;"
>
  <div class="card-body">

    <h2 class="card-title">{{job.title}}</h2>
    {{!<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> AQUÍ LA DESCRIPCIÓN}}
    <p class="card-text">{{job.description}}</p>
    <p class="card-text">{{job.owner.companyName}}</p>
    {{!-- <p class="card-text">Gender: {{job.gender}}</p>
    <p class="card-text">Age: {{job.minAge}} - {{job.maxAge}}</p>
    <p class="card-text">Height: {{job.height}}</p> --}}
    <p class="card-text">Published {{elapsedTime job.createdAt}} ago</p>
    <form
      method="POST"
      action="/jobs/{{job.id}}/application"
      style="padding-top:16px"
    >
      {{#hasApplied currentUser=currentUser job=job}}
        <button
          type="button"
          class="btn btn-primary"
          style="background-color:#7947FA; color:#f5f5f5"
        >Applied</button>
      {{else}}
        <button type="submit" class="btn btn-outline-primary">Apply</button>
      {{/hasApplied}}
    </form>
  </div>
</div>