{{! <div class="card" style="width: 500px; height:fit-content; border: weight 2px;">
  <div class="card-body" style="padding-left:50px; padding-top:24px"> }}

<div style="padding-left:50px">
  <div>
    <div
      class="card"
      style="margin-bottom:24px; height: 100%; background-color:white; padding-left:24px; border:none; border-radius:6px; box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;"
    >
      <div class="card-body">
        <img
          style="width:150px; border-color:white;"
          src="{{user.image}}"
          class="rounded-circle me-2"
          alt="..."
        />

        <h2>{{user.firstName}} {{user.lastName}}</h2>

        <container class="d-flex gap-5" style="margin-top:8px; width:400px">
          <p>Age: {{user.age}}</p>
          <p>Height: {{user.height}}</p>
          <p>Gender: {{user.gender}}</p>
        </container>
        <div style="margin-top:16px; width:80%">
          <h3>Bio</h3>
          <p>{{user.description}}</p>
        </div>

      </div>

    </div>
  </div>
</div>

{{!   </div>
</div> }}