<div class="container text-center" style="margin-top:18px;">
  <div class="row align-items-start">
    <div
      class="col"
      id="not-contacted"
      style="color:#FC5661; font-weight:700; font-size:18px;"
    >
      Not contacted
      {{#each apps as |app|}}
        {{#hasContact app=app status=status}}
          <div style="d-flex align-center">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <img
                  style="width:50px;"
                  src="{{this.applicant.image}}"
                  class="rounded-circle me-2"
                  alt="..."
                />
                <a
                  href="/profile/{{this.applicant.id}}/{{this._id}}/detail"
                  class="h4"
                  style="text-decoration:none; color:#30343F; font-weight:300; font-size:20px"
                >
                  {{this.applicant.firstName}}
                  {{this.applicant.lastName}}
                </a>
              </li>
            </ul>
          </div>

        {{else}}

        {{/hasContact}}
      {{/each}}
    </div>
    <div
      class="col"
      id="contacted"
      style="color:#DC965A; font-weight:700; font-size:18px;"
    >
      {{! falta el helper de después de enviar el email}}
      Contacted
      {{#each apps as |app|}}
        {{#hasCasting app=app}}
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <img
                style="width:50px;"
                src="{{this.applicant.image}}"
                class="rounded-circle me-2"
                alt="..."
              />
              <a
                style="text-decoration:none; color:#30343F; font-weight:300; font-size:20px"
                href="/profile/{{this.applicant.id}}/{{this._id}}/detail"
              >
                {{this.applicant.firstName}}
                {{this.applicant.lastName}}
              </a>
            </li>
          </ul>
        {{else}}

        {{/hasCasting}}
      {{/each}}
    </div>
    <div
      class="col"
      id="pending"
      style="color:#00C49A; font-weight:700; font-size:18px; text-decoration:none;"
    >
      {{! falta el helper, seguramente un botón que se habilite después del contacto}}
      Casting pending
      {{#each apps as |app|}}
        {{#hasConfirmed app=app}}
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <img
                style="width:50px;"
                src="{{this.applicant.image}}"
                class="rounded-circle me-2"
                alt="..."
              />
              <a
                style="text-decoration:none; color:#30343F; font-weight:300; font-size:20px"
                href="/profile/{{this.applicant.id}}/{{this._id}}/detail"
              >
                {{this.applicant.firstName}}
                {{this.applicant.lastName}}
              </a>
            </li>
          </ul>
        {{else}}

        {{/hasConfirmed}}
      {{/each}}
    </div>
  </div>
</div>