<h1>Create new job</h1>

<form action="/create" method="POST">
  <div class="mb-3">
    <label for="title" class="form-label">Job title</label>
    <input
      typeof="text"
      class="form-control form-control"
      id="title"
      name="title"
      value="{{job.title}}"
      required
    />
  </div>

  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <textarea
      class="form-control form-control"
      id="description"
      rows="3"
      typeof="text"
      name="description"
      value="{{job.description}}"
      required
    ></textarea>
  </div>

  <div class>
    <div class="col-md-6">
      <label for="range" class="form-label">Age range</label>
      <select
        class="form-select"
        aria-label="Default select age"
        name="range"
        value="{{job.age}}"
        required
      >
        <option selected>Choose age range</option>
        <option value="0 - 3">0 - 3</option>
        <option value="4 - 12">4 - 12</option>
        <option value="13 - 17">13 - 17</option>
        <option value="18 - 25">18 - 25</option>
        <option value="26 - 35">26 - 35</option>
        <option value="36 - 42">36 - 42</option>
        <option value="43 - 49">43 - 49</option>
        <option value="50 - 55">50 - 55</option>
        <option value="56 - 60">56 - 60</option>
        <option value="61 - 65">61 - 65</option>
        <option value="66 - 72">66 - 72</option>
        <option value="73 - 80">73 - 80</option>
        <option value="+80">+80</option>
      </select>
    </div>

    <div class="mb-3">
      <label for="height" class="form-label">Height range</label>
      <select
        class="form-select"
        aria-label="Default select height"
        name="height"
        value="{{job.height}}"
        required
      >
        <option selected>Choose height range</option>
        <option value="-1.40">Shorter than 1.40m</option>
        <option value="1.40 - 1.60">Between 1.40m and 1.60m</option>
        <option value="1.61 - 1.80">Between 1.61m and 1.80m</option>
        <option value="+1.80">Taller than 1.80m</option>
      </select>
    </div>

    <div class="mb-3">
      <label for="gender" class="form-label">Gender</label>
      <select
        class="form-select"
        aria-label="Default select gender"
        name="gender"
        value="{{job.gender}}"
        required
      >
        <option selected>Choose gender</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="non-binary">Non-binary</option>
      </select>
    </div>

    <div class="mb-3">
      <label for="genre" class="form-label">Genre</label>
      <select
        class="form-select"
        aria-label="Default select genre"
        name="genre"
        value="{{job.genre}}"
        required
      >
        <option selected>Choose genre</option>
        <option selected value="action">Action</option>
        <option value="adventure">Adventure</option>
        <option value="animation">Animation</option>
        <option value="comedy">Comedy</option>
        <option value="crime">Crime</option>
        <option value="documentary">Documentary</option>
        <option value="drama">Drama</option>
        <option value="family">Family</option>
        <option value="fantasy">Fantasy</option>
        <option value="horror">Horror</option>
        <option value="music">Music</option>
        <option value="mystery">Mystery</option>
        <option value="romance">Romance</option>
        <option value="science fiction">Science fiction</option>
        <option value="thriller">Thriller</option>
        <option value="war">War</option>
        <option value="western">Western</option>
      </select>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Post job</button>
</form>